.row{
        text-align: center;
        
        
}

label{
    color: white;
    text-transform: uppercase;
}

.años, .titulos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}



