.row{
    padding: 20px;
    background-color: bisque;
    box-shadow: 4px -4px 5px #999;
    text-align: center;
    
}

#nombre{
    font-weight: bold;
    margin-top: 20%;
    
}
#fotoPerfil{
    border-radius: 100px;
}
.btn{
    height: 35px;
    margin-right: 9px;
    text-align: end;
    
}
h1{
    text-transform: uppercase;
    text-decoration: underline;
    color: #fafbfd;
}
h2, h3, p{
    color: #fafbfd;
}
